.card__cont {
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.card__company {
  text-align: right;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  color: white;
  font-weight: 600;
}

.card__company,
.card__info {
  padding: .5rem 1rem;
}

.card__info {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.card__date {
  font-size: 70%;
}

.card__arrival {
  text-align: right;
}